*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:url(a4.jpg);
    background-repeat:none;
    background-size:cover;
    background-position:center;
    font-family: sans-serif;
    background-attachment: fixed;
    

}
.menu-bar{
    background:rgba(0,100,0);
    text-align: center;
    
}
.menu-bar ul{
display: inline-flex;
list-style-type: none;
color: wheat;

}
.menu-bar ul li{
    width: 120px;
    padding: 15px;
    margin: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active,.menu-bar ul li:hover{
   background-color:cadetblue; 
   border-radius:5px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display:block;
    position: absolute;
    background:#006400;
    margin-top:15px;
    margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width:150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.fa-angle-right{
    float: right;
}